@charset "utf-8";

:root {
	--white: #fff;
	--black: #000;
	--key-color: #3f7ca6;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, button {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	/*
		가로 930px 설정+ 패딩값 20px 설정시 이거 안써주면 970됨
		이거를 써줘야 930px로 사용 가능
	*/
}

html {
  height: 100%;
  min-height: -webkit-fill-available;
}
ul ,ol ,li {
  list-style: none;
}
body {
	margin: 0; 
	padding: 0; 
	font-family: 'SUIT', sans-serif;
	font-size: 16px;
	font-weight: 400;
	min-width: 300px; 
	background: var(--white);
	color: var(--black);
	-webkit-text-size-adjust: none;
	line-height: 1;
}
input,select,button {
  vertical-align: middle;
}
img {
  vertical-align: top;
  -webkit-perspective: 1;
}
i, em, address {
  font-style: normal;
}
label, button {
  cursor: pointer;
}
a {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
	text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*:focus {
	outline: none;
}
button {
	background: transparent;
	font-family: inherit;
	padding: 0;
	font-size: inherit;
	-webkit-tap-highlight-color: transparent;
	color: var(--black);
}
input[type=text], 
input[type=button], 
input[type=password],
textarea, 
button {
	outline-style:none; 
	-webkit-appearance:none; 
	-webkit-border-radius:0;
	font-family: inherit;
}
input[type=text]::-webkit-input-placeholder,
input[type=button]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #7B7B7B;
	font-weight: 400;
}
input[type=text]:-moz-placeholder,
input[type=button]:-moz-placeholder,
input[type=password]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #7B7B7B;
	opacity: 1;
	font-weight: 400;
}
input[type=text]::-moz-placeholder,
input[type=button]::-moz-placeholder,
input[type=password]::-moz-placeholder,
textarea::-moz-placeholder {
	color: #7B7B7B;
	opacity: 1;
	font-weight: 400;
}
input[type=text]:-ms-input-placeholder,
input[type=button]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #7B7B7B;
	font-weight: 400;
}
select {
	position: relative;
	width: 100%;
	height: 28px;
	padding: 0 8px;
	box-sizing: border-box;
	font-family: inherit;
	background: var(--white) url('/common/images/arrow_down.svg') no-repeat calc(100% - 16px) 50% / 14px;
	border: 0;
	color: var(--black);
	font-size: 16px;
	font-weight: 400;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}
select option {
	color: var(--black);
}
select.on,
select.active {
	color: var(--black)!important;
}
select::-ms-expand {
    display: none;
}
.ta_l {
	text-align:left!important; 
}
.ta_c {
	text-align:center!important; 
}
.ta_r {
	text-align:right!important; 
}
.swiper-slide img {
	width: 100%;
}
.w100 {
	width: 100%!important;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.flex_start {
	justify-content: start!important;
}
.flex_center {
	justify-content: center!important;
}
.flex_end {
	justify-content: end!important;
}
.flex_js {
	justify-content: space-between!important;
}
.ag_s {
	align-items: start!important;
}
.ag_c {
	align-items: center!important;
}
.ag_e {
	align-items: end!important;
}
.f1 {
	flex: 1;
}
.flex_col {
	flex-direction: column;
}
.flex_col > * {
	width: 100%;
}
.grid {
	display: grid;
}
.btn_color {
	background: var(--key-color);
	color: var(--white);
}
.txt_color {
	color: var(--key-color);
}