@font-face {
    font-family: "Cafe24Ssurround";
    src: url('./common/font/Cafe24Ssurround.woff2') format('woff2'),
        url('./common/font/Cafe24Ssurround.woff') format('woff'),
        url('./common/font/Cafe24Ssurround.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT';
    src: url('./common/font/SUIT-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT';
    src: url('./common/font/SUIT-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT';
    src: url('./common/font/SUIT-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT';
    src: url('./common/font/SUIT-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT';
    src: url('./common/font/SUIT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT';
    src: url('./common/font/SUIT-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT';
    src: url('./common/font/SUIT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT';
    src: url('./common/font/SUIT-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT';
    src: url('./common/font/SUIT-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}